@{
    ViewBag.Title = "Home Page";
}

<h1> What is StringDae? </h1>
    
    <h2>Uses</h2>
	<p>Tracking a mystery, roleplaying game, historical research, investigative reporting, authors plotting books, conspiracy theorists, current events.</p>

    <h2>Description</h2>
    <p>StringDae is an online system that will allow users to track and relate events, people, things, groups and timelines. A tool that would allow users to study, or investigate, a mystery, real or fictional, a historical or current event, help authors plotting books, investigative reporters or even role playing gamers.<br />
    A user can enter events and create timelines. People can be related to groups, events and locations. Things and objects can tracked. All these things can be tied together, as can notes and question and answers. Events, objects, locations, groups can have sub units related to a larger thing. Like a room in a house.<br />
    There would also be some graphical layouts that will allow the user to view the investigation in different ways. Such as a timeline, relationships between people, between people and groups and between people and events. </p>

<p>StringDae would be available to anyone, with some restrictions. At the free level an ad would appear on the page and the user would only be allowed one investigation. When a user is finished with an investigation they can create a PDF, or other document, to download, clear the investigation and start a new one.</p>

<p>There would be some facility for users to upload data. This may be restricted by tier.</p>

<p>A second tier (version 2) would allow users to select the the number and types of investigations, for a fee. The fees would be arranged alacarte. The uses could select the number of investigations, the number of investigators and the commonality between investigations. [If a user was investigating a large historical event they may want to break it up into smaller parts, but share common people, groups, etc. Also a series of books.]<br />
Users of this tier could also select a group source model in which invited users could submit events, etc.<br />
Users could place alerts, like Google or Bing alerts on terms or entities.<br />
User defined custom types create specific categories for events, people, timelines, objects, groups and the relationship between them. These custom types can be kept in a library that the user can easily apply to a new investigation. Users would also be able to create custom relationship views. Some custom type libraries and views will also be made available to all the StringDae users above the first tier. A user can submit a custom category or view to the common library for review and possible inclusion.<br />
Their would also be a facility for a user to create custom forms that would facilitate the entry of data specific to their needs. These would also be available in a library and be candidates for the StringDae libraries.</p>

<p>These users could also purchase geospatial coordinates, map views and interactive user created diagrams options. (indexed spreadsheets; like for financial data, or mini databases, like for financial or phone data.) </p>

<p>The third tier (version 3) would allow the users to define the base entities as they see fit. Instead of People, Events, Groups, Locations, etc. they could define their own.</p>

<p>The fourth tier would be a custom system, either hosted by StringDae or at the users location. This system could include custom reports and the ability for StringDae to search external data sources.</p>

<p>Some investigations would be created as static investigations as examples. Fictional mysteries like Sherlock Holmes, “The Big Sleep” and “Twin Peaks”. Even some real crimes and historical events. (Bay of Pigs) Maybe even an episode of “House”. Or conspiracies, like the JFK assassination, from different perspectives.</p>
